body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

div.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 65px 25px;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin: 80px auto 30px;
}

form{
  margin-bottom: 20px;
}

form.container{
  width: 50%;
}

form.form-control {
  margin-bottom: 1rem;
}

.container-fluid{
  margin:5px;
  padding-top: 15px;
}

.bg-grey {
    background-color: #f6f6f6;
}

span {
    font-style: normal;
}

hr{
  width: 90%;
  border: 1px solid grey;
}

.navbar {
    margin-bottom: 0;
    height: 60px;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
